@use "../../../styles/variables.scss" as *;

.modal-quan-ly-ho-so-nguoi-khuyet-tat {
    div {
        :global(.ant-modal-content) {
            :global(.ant-modal-body) {
                max-height: 80vh !important;
        }
    }
    }
} 

.validation-only-form-item {
  :global(.ant-form-item-label) {
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
  }
  
  :global(.ant-form-item-control) {
    display: flex !important;
    flex-direction: column !important;
  }
  
  :global(.ant-form-item-explain) {
    order: 1 !important;
    margin-bottom: 8px !important;
    margin-top: 4px !important;
  }
  
  :global(.ant-form-item-control-input) {
    order: 2 !important;
    min-height: 0 !important;
  }
}